<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {{ $styles := resources.Get "style.scss" | toCSS  }}
    <link rel="stylesheet" href="{{ $styles.Permalink }}" type="text/css" />
    <title>{{ .Title }}</title>
  </head>
  <body>
    <header class='header'>
      <a class="logo" href="/">home</a>
      <nav>
        <a href="https://www.github.com/niklasfasching">github</a>
        <a href="/about">about</a>
      </nav>
    </header>
    {{ block "main" . }}{{ end }}
  </body>
</html>
