$highlight: rgb(250, 100, 50);
$grey: rgba(200,200,200,0.2);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  overflow-y: scroll; // always show the scroll bar to ensure narrower pages have same center
  height: 100%;
  font: 100%/1.5 sans-serif;
  word-wrap: break-word;
  margin: 0 auto;
  padding: 1.5em;
}

@media (min-width: 768px) {
  html {
    font-size: 125%;
    max-width: 42em;
  }
}

h1, h2, h3, h4 {
  margin: 2.5rem 0 1.5rem 0;
  line-height: 1.25;
  color: #333;
}

a {
  color: $highlight;
  text-decoration: none;
  &:hover, &:focus, &:active { text-decoration: underline; }
}

p {
  margin: 1em 0;
  line-height: 1.5;
  code {
    background-color: #eee;
    padding: 0.05em 0.2em;
    border: 1px solid #ccc;
  }
}

ol, ul {
  margin: 1em;
  li {
    ol, ul { margin: 0 2em; }
    p { margin: 0; }
  }
}

dl {
  font-family: monospace, monospace;
  dt { font-weight: bold; }
  dd { margin: -1em 0 1em 1em; }
}

img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  padding: 0.5em;
}

blockquote {
  padding-left: 1em;
  font-style: italic;
  border-left: solid 1px rgb(250, 100, 50);
}

table {
  font-size: 1rem;
  text-align: left;
  caption-side: bottom;
  margin-bottom: 2em;
  * { border: none; }
  thead, tr {
    display: table;
    table-layout: fixed;
    width: 100%;
  }
  tr:nth-child(even) { background-color: $grey; }
  tbody {
    display: block;
    max-height: 70vh;
    overflow-y: auto;
  }
  td, th { padding: 0.25em; }
}

table, .highlight > pre, pre.example {
  max-height: 70vh;
  margin: 1em 0;
  padding: 1em;
  overflow: auto;
  font-size: 0.85rem;
  font-family: monospace, monospace; // https://github.com/necolas/normalize.css#extended-details-and-known-issues
  border:1px dashed transparentize($highlight, 0.5);
}

.title { font-size: 2.5em; }

.subtitle {
  font-weight: normal;
  font-size: 0.75em;
  color: #666;
}

.tags {
  margin-top: -1.5rem;
  padding-bottom: 1.5em;
  li {
    display: inline;
    margin-right: 0.5em;
  }
}

figure {
  margin: 1em 0;
  figcaption {
    font-family: monospace, monospace; // https://github.com/necolas/normalize.css#extended-details-and-known-issues
    font-size: 0.75em;
    text-align: center;
    color: grey;
  }
}

.footnote-definition {
  sup {
    margin-left: -1.5em;
    float: left;
  }
  .footnote-body {
    margin: 1em 0;
    padding: 0 1em;
    border:1px dashed transparentize($highlight, 0.7);
    background-color: $grey;
    p:only-child { margin: 0.2em 0; }
  }
}

header {
  display: flex;
  justify-content: space-between;
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  a + a {
    margin-left: 1rem;
  }
}

.posts {
  margin: 0;
  list-style: none;
  .post {
    a {
      display: block;
      padding: 0.5em 0;
      color: black;
      &:hover, &:focus, &:active {
        text-decoration: none;
        background: $grey;
      }
    }
    date {
      font-family: monospace, monospace; // https://github.com/necolas/normalize.css#extended-details-and-known-issues
      font-size: 0.8rem;
      vertical-align: middle;
      padding-right: 2rem;
      color: grey;
    }
  }
}
